.esri-compass {
    width: 30px;
    height: 30px;
    border: 1px solid #57585A;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
}

.esri-compass:hover {
    background-color: #eee;
}

.esri-compass:active {
    background-color: #ddd;
}

.esri-compass-icon-north {
    display: none;
}

.esri-compass-is-web-mercator .esri-compass-icon-north {
    display: block;
}

.esri-compass-is-web-mercator .esri-compass-icon {
    display: none;
}

.esri-compass-icon {
    display: block;
}

.esri-compass.esri-disabled .esri-indicator {
    display: none;
}

.esri-compass.esri-disabled {
    background-color: #f8f8f8;
}

.esri-compass .esri-compass-style {
    fill: #4C4C4C;
}